.statistics {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    background: #d8d6d6;
    padding: 0;
}

.title {
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.stat_list {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0;
}


.item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    color: #fff;


}

.item:nth-child(1) {
    background-color: red;
}

.item:nth-child(2) {
    background-color: blue;
}

.item:nth-child(3) {
    background-color: green;
}

.item:nth-child(4) {
    background-color: yellow;
}

.item:nth-child(5) {
    background-color: magenta;
}